[submodule "navbars_theme"]
	path = navbars
	url = https://github.com/SEFSC/documentation-theme-quarto
	branch = navbars
[submodule "documentation-theme-quarto"]
	path = theme
	url = https://github.com/SEFSC/documentation-theme-quarto
