[submodule "navbars_theme"]
	path = navbars
	url = https://github.com/MattGrossi-NOAA/documentation-theme-quarto
	branch = navbars
[submodule "documentation-theme-quarto"]
	path = theme
	url = https://github.com/MattGrossi-NOAA/documentation-theme-quarto
